body {
	height: 60vh;
	background: #1c92d2;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #f2fcfe, #1c92d2);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Permanent Marker', cursive;
}

.img-logo {
	position: absolute;
	width: 45%;
	margin: 0 auto;
	top: 15vh;
	left: 42vw;
	z-index: 2;
}

.img-logo img {
	width: 100%;
}

.img-water {
	position: absolute;
	width: 100%;
	top: 44vh;
}

.img-water img {
	width: 100%;
}

.img-date {
	position: absolute;
	width: 100%;
	top: 65vh;
}

.img-date img {
	width: 100%;
}

.img-login {
	position: absolute;
	width: 20%;
	top: 40vh;
	left: 15vw;
}

.img-login img:hover {
	cursor: pointer;
}

.img-login img {
	width: 100%;
	border-radius: 7px;
}

.img-top {
	position: absolute;
	width: 100%;
	top: -25vh;
}

.img-top img {
	width: 100%;
}

.img-photo {
	position: absolute;
	width: 12rem;
	height: 15rem;
	top: 22vh;
	left: vh;
	background-color: white;
	z-index: 99;
}

.img-photo img {
	width: 100%;
}

.img-share {
	position: absolute;
	width: 10%;
	top: 57vh;
	left: 32vh;
}

.img-share img:hover {
	cursor: pointer;
}

.img-share img {
	width: 100%;
}

.img-2 {
	display: none;
}

@media only screen and (max-width: 640px) {
	body {
		height: 100vh;
	}
	.img-logo {
		width: 80%;
		top: 42vh;
		left: 20vw;
	}
	.img-date {
		position: absolute;
		zoom: 120%;
		width: 100%;
		/*	height: 100%;	*/
		top: 64vh;
	}
	.img-date img {
		width: 100%;
		/*	height: 100%;*/
	}
	.img-2 {
		display: block;
	}
	.img-1 {
		display: none;
	}
	.img-water {
		width: 100%;
		top: 50vh;
		height: 30%;
	}
	.img-water img {
		height: 100%;
		width: 100%;
	}
	.img-login {
		width: 70%;
		top: 25vh;
	}
	.img-top {
		top: -5vh;
	}
	.img-photo {
		width: 8rem;
		height: 10rem;
		top: 10vh;
		left: 20vh;
		background-color: white;
		z-index: 99;
	}
	.img-photo img {
		width: 100%;
	}
	.img-share {
		position: absolute;
		width: 30%;
		top: 35vh;
		left: 20vh;
	}
	.img-share img {
		width: 100%;
	}
}